version = "v0.1.0"

[root]
# for users don't use command line
date = "" # the end date of week, e.g. '2019-01-28'
reporter = "" # reporter name, default 'markdown'
out = "" # output filepath, default os.Stdout

[reporter.categorizer.categoryMap]
ProjectX = ["Prj.X", "project-x"]
WholeCompany = ["MTG", "1on1, ""Party"]

[service.esa]
enable = false
apiToken = ""
team = ""
user = ""

[service.asana]
enable = false
apiToken = ""
workspaceId = "" # gid of https://app.asana.com/api/1.0/workspaces
userId = "" # gid of https://app.asana.com/api/1.0/users/me

[service.github]
enable = false
apiToken = ""
organization = ""
user = ""
